In [1]:
import pandas as pd

In [2]:
#read all metadata
metadata_file = "GSE10950_metadata_all.csv" 
metadata = pd.read_csv(metadata_file)

In [3]:
metadata.describe()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,platform_id,contact_name,contact_email,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
count,48,48,48,48,48,48,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48
unique,48,48,1,1,1,1,1,48,1,1,...,1,1,1,1,1,1,1,1,1,1
top,"""Normal N1 (1690411082_A)""","""GSM277495""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1690411082_A""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
freq,1,1,48,48,48,48,48,1,48,48,...,48,48,48,48,48,48,48,48,48,48

In [4]:
metadata.head()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,platform_id,contact_name,contact_email,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
0,"""Normal N1 (1690411082_A)""","""GSM277495""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1690411082_A""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
1,"""Primay tumor T1 (1690411082_B)""","""GSM277496""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1690411082_B""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
2,"""Normal N2 (1690411082_C)""","""GSM277497""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1690411082_C""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
3,"""Primay tumor T2 (1690411082_D)""","""GSM277498""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1690411082_D""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
4,"""Normal N3 (1690411082_E)""","""GSM277499""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1690411082_E""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""

In [5]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    48 non-null     object
 1   geo_accession            48 non-null     object
 2   status                   48 non-null     object
 3   submission_date          48 non-null     object
 4   last_update_date         48 non-null     object
 5   type                     48 non-null     object
 6   channel_count            48 non-null     object
 7   source_name_ch1          48 non-null     object
 8   organism_ch1             48 non-null     object
 9   characteristics_ch1      48 non-null     object
 10  molecule_ch1             48 non-null     object
 11  extract_protocol_ch1     48 non-null     object
 12  label_ch1                48 non-null     object
 13  label_protocol_ch1       48 non-null     object
 14  taxid_ch1                48 non-null     object
 15  hyb_protocol             48 non-null     object
 16  scan_protocol            48 non-null     object
 17  description              48 non-null     object
 18  data_processing          48 non-null     object
 19  platform_id              48 non-null     object
 20  contact_name             48 non-null     object
 21  contact_email            48 non-null     object
 22  contact_institute        48 non-null     object
 23  contact_address          48 non-null     object
 24  contact_city             48 non-null     object
 25  contact_zip/postal_code  48 non-null     object
 26  contact_country          48 non-null     object
 27  supplementary_file       48 non-null     object
 28  data_row_count           48 non-null     object
dtypes: object(29)
memory usage: 11.0+ KB

In [6]:
metadata.shape

(48, 29)

In [7]:
metadata.columns

Index(['title', 'geo_accession', 'status', 'submission_date',
       'last_update_date', 'type', 'channel_count', 'source_name_ch1',
       'organism_ch1', 'characteristics_ch1', 'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing',
       'platform_id', 'contact_name', 'contact_email', 'contact_institute',
       'contact_address', 'contact_city', 'contact_zip/postal_code',
       'contact_country', 'supplementary_file', 'data_row_count'],
      dtype='object')

In [8]:
# List of columns to remove
columns_to_remove = [
    "status", "submission_date", "last_update_date", "type", "channel_count",
    "source_name_ch1", "organism_ch1", "characteristics_ch1",'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing', "platform_id",
    "contact_name", "contact_email", "contact_institute", "contact_address",
    "contact_city", "contact_zip/postal_code", "contact_country",
    "supplementary_file", "data_row_count"
]

metadata_cleaned = metadata.drop(columns=columns_to_remove, errors="ignore")

In [9]:
metadata_cleaned.head()

                              title geo_accession
0        "Normal N1 (1690411082_A)"   "GSM277495"
1  "Primay tumor T1 (1690411082_B)"   "GSM277496"
2        "Normal N2 (1690411082_C)"   "GSM277497"
3  "Primay tumor T2 (1690411082_D)"   "GSM277498"
4        "Normal N3 (1690411082_E)"   "GSM277499"

In [10]:
metadata_cleaned.tail()

                                title geo_accession
43  "Primay tumor T26 (1855529021_B)"   "GSM277538"
44        "Normal N27 (1855529021_C)"   "GSM277539"
45  "Primay tumor T27 (1855529021_D)"   "GSM277540"
46  "Primay tumor T28 (1855529021_E)"   "GSM277541"
47        "Normal N28 (1855529021_F)"   "GSM277542"

In [11]:
metadata_cleaned["target"] = metadata_cleaned["title"].str.extract(r"(Normal|tumor)")

In [12]:
metadata_cleaned.head()

                              title geo_accession  target
0        "Normal N1 (1690411082_A)"   "GSM277495"  Normal
1  "Primay tumor T1 (1690411082_B)"   "GSM277496"   tumor
2        "Normal N2 (1690411082_C)"   "GSM277497"  Normal
3  "Primay tumor T2 (1690411082_D)"   "GSM277498"   tumor
4        "Normal N3 (1690411082_E)"   "GSM277499"  Normal

In [13]:
metadata_final = metadata_cleaned.drop(columns='title', errors="ignore")

In [14]:
metadata_final.head()

  geo_accession  target
0   "GSM277495"  Normal
1   "GSM277496"   tumor
2   "GSM277497"  Normal
3   "GSM277498"   tumor
4   "GSM277499"  Normal

In [15]:
# Remove quotes from the geo_accession column (it's the first column)
metadata_final.iloc[:, 0] = metadata_final.iloc[:, 0].str.replace('"', '', regex=False)

In [16]:
metadata_cleaned= metadata_final
metadata_cleaned.head()

  geo_accession  target
0     GSM277495  Normal
1     GSM277496   tumor
2     GSM277497  Normal
3     GSM277498   tumor
4     GSM277499  Normal

In [17]:
# Save the cleaned metadata
metadata_cleaned.to_csv("metadata_cleaned.csv", index=False)

print("Columns removed and saved as metadata_cleaned.csv")

Columns removed and saved as metadata_cleaned.csv