In [1]:
import pandas as pd
import re

In [2]:
#file path
file_path = "GSE10950_series_matrix.txt"

# Read the file, ignoring comment lines and extracting metadata
metadata = {}
with open(file_path, "r") as file:
    for line in file:
        if line.startswith("!Sample_"):
            key, values = line.split("\t", 1)
            key = key.replace("!Sample_", "").strip()
            values = values.strip().split("\t")
            metadata[key] = values

df_metadata_all = pd.DataFrame(metadata)

# Display the first few rows of the metadata
print(df_metadata_all.head())

                              title geo_accession                   status  \
0        "Normal N1 (1690411082_A)"   "GSM277495"  "Public on Mar 29 2008"
1  "Primay tumor T1 (1690411082_B)"   "GSM277496"  "Public on Mar 29 2008"
2        "Normal N2 (1690411082_C)"   "GSM277497"  "Public on Mar 29 2008"
3  "Primay tumor T2 (1690411082_D)"   "GSM277498"  "Public on Mar 29 2008"
4        "Normal N3 (1690411082_E)"   "GSM277499"  "Public on Mar 29 2008"

  submission_date last_update_date   type channel_count source_name_ch1  \
0   "Mar 26 2008"    "Mar 28 2008"  "RNA"           "1"  "1690411082_A"
1   "Mar 26 2008"    "Mar 28 2008"  "RNA"           "1"  "1690411082_B"
2   "Mar 26 2008"    "Mar 28 2008"  "RNA"           "1"  "1690411082_C"
3   "Mar 26 2008"    "Mar 28 2008"  "RNA"           "1"  "1690411082_D"
4   "Mar 26 2008"    "Mar 28 2008"  "RNA"           "1"  "1690411082_E"

     organism_ch1   characteristics_ch1  ... platform_id contact_name  \
0  "Homo sapiens"  "epithelial tissues"  ...   "GPL6104"  "qiang,,yu"
1  "Homo sapiens"  "epithelial tissues"  ...   "GPL6104"  "qiang,,yu"
2  "Homo sapiens"  "epithelial tissues"  ...   "GPL6104"  "qiang,,yu"
3  "Homo sapiens"  "epithelial tissues"  ...   "GPL6104"  "qiang,,yu"
4  "Homo sapiens"  "epithelial tissues"  ...   "GPL6104"  "qiang,,yu"

             contact_email contact_institute    contact_address contact_city  \
0  "yuq@gis.a-star.edu.sg"             "GIS"  "BIOPOLIS STREET"  "SINGAPORE"
1  "yuq@gis.a-star.edu.sg"             "GIS"  "BIOPOLIS STREET"  "SINGAPORE"
2  "yuq@gis.a-star.edu.sg"             "GIS"  "BIOPOLIS STREET"  "SINGAPORE"
3  "yuq@gis.a-star.edu.sg"             "GIS"  "BIOPOLIS STREET"  "SINGAPORE"
4  "yuq@gis.a-star.edu.sg"             "GIS"  "BIOPOLIS STREET"  "SINGAPORE"

  contact_zip/postal_code contact_country supplementary_file data_row_count
0                "138672"     "Singapore"             "NONE"        "22184"
1                "138672"     "Singapore"             "NONE"        "22184"
2                "138672"     "Singapore"             "NONE"        "22184"
3                "138672"     "Singapore"             "NONE"        "22184"
4                "138672"     "Singapore"             "NONE"        "22184"

[5 rows x 29 columns]

In [3]:
# Save the metadata DataFrame to a CSV file
df_metadata_all.to_csv("GSE10950_metadata_all.csv", index=False)

In [4]:
print(list(df_metadata_all.columns))

['title', 'geo_accession', 'status', 'submission_date', 'last_update_date', 'type', 'channel_count', 'source_name_ch1', 'organism_ch1', 'characteristics_ch1', 'molecule_ch1', 'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol', 'description', 'data_processing', 'platform_id', 'contact_name', 'contact_email', 'contact_institute', 'contact_address', 'contact_city', 'contact_zip/postal_code', 'contact_country', 'supplementary_file', 'data_row_count']

In [5]:
df_metadata_all.tail()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,platform_id,contact_name,contact_email,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
43,"""Primay tumor T26 (1855529021_B)""","""GSM277538""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1855529021_B""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
44,"""Normal N27 (1855529021_C)""","""GSM277539""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1855529021_C""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
45,"""Primay tumor T27 (1855529021_D)""","""GSM277540""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1855529021_D""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
46,"""Primay tumor T28 (1855529021_E)""","""GSM277541""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1855529021_E""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""
47,"""Normal N28 (1855529021_F)""","""GSM277542""","""Public on Mar 29 2008""","""Mar 26 2008""","""Mar 28 2008""","""RNA""","""1""","""1855529021_F""","""Homo sapiens""","""epithelial tissues""",...,"""GPL6104""","""qiang,,yu""","""yuq@gis.a-star.edu.sg""","""GIS""","""BIOPOLIS STREET""","""SINGAPORE""","""138672""","""Singapore""","""NONE""","""22184"""

In [6]:
for col in df_metadata_all.columns:
    print(f"Column: {col}")
    print(df_metadata_all[col].head())  # Show first few values of each column
    print("-" * 50)

Column: title
0          "Normal N1 (1690411082_A)"
1    "Primay tumor T1 (1690411082_B)"
2          "Normal N2 (1690411082_C)"
3    "Primay tumor T2 (1690411082_D)"
4          "Normal N3 (1690411082_E)"
Name: title, dtype: object
--------------------------------------------------
Column: geo_accession
0    "GSM277495"
1    "GSM277496"
2    "GSM277497"
3    "GSM277498"
4    "GSM277499"
Name: geo_accession, dtype: object
--------------------------------------------------
Column: status
0    "Public on Mar 29 2008"
1    "Public on Mar 29 2008"
2    "Public on Mar 29 2008"
3    "Public on Mar 29 2008"
4    "Public on Mar 29 2008"
Name: status, dtype: object
--------------------------------------------------
Column: submission_date
0    "Mar 26 2008"
1    "Mar 26 2008"
2    "Mar 26 2008"
3    "Mar 26 2008"
4    "Mar 26 2008"
Name: submission_date, dtype: object
--------------------------------------------------
Column: last_update_date
0    "Mar 28 2008"
1    "Mar 28 2008"
2    "Mar 28 2008"
3    "Mar 28 2008"
4    "Mar 28 2008"
Name: last_update_date, dtype: object
--------------------------------------------------
Column: type
0    "RNA"
1    "RNA"
2    "RNA"
3    "RNA"
4    "RNA"
Name: type, dtype: object
--------------------------------------------------
Column: channel_count
0    "1"
1    "1"
2    "1"
3    "1"
4    "1"
Name: channel_count, dtype: object
--------------------------------------------------
Column: source_name_ch1
0    "1690411082_A"
1    "1690411082_B"
2    "1690411082_C"
3    "1690411082_D"
4    "1690411082_E"
Name: source_name_ch1, dtype: object
--------------------------------------------------
Column: organism_ch1
0    "Homo sapiens"
1    "Homo sapiens"
2    "Homo sapiens"
3    "Homo sapiens"
4    "Homo sapiens"
Name: organism_ch1, dtype: object
--------------------------------------------------
Column: characteristics_ch1
0    "epithelial tissues"
1    "epithelial tissues"
2    "epithelial tissues"
3    "epithelial tissues"
4    "epithelial tissues"
Name: characteristics_ch1, dtype: object
--------------------------------------------------
Column: molecule_ch1
0    "total RNA"
1    "total RNA"
2    "total RNA"
3    "total RNA"
4    "total RNA"
Name: molecule_ch1, dtype: object
--------------------------------------------------
Column: extract_protocol_ch1
0    "standard Illumina protocol"
1    "standard Illumina protocol"
2    "standard Illumina protocol"
3    "standard Illumina protocol"
4    "standard Illumina protocol"
Name: extract_protocol_ch1, dtype: object
--------------------------------------------------
Column: label_ch1
0    "Cy3"
1    "Cy3"
2    "Cy3"
3    "Cy3"
4    "Cy3"
Name: label_ch1, dtype: object
--------------------------------------------------
Column: label_protocol_ch1
0    "standard Illumina protocol"
1    "standard Illumina protocol"
2    "standard Illumina protocol"
3    "standard Illumina protocol"
4    "standard Illumina protocol"
Name: label_protocol_ch1, dtype: object
--------------------------------------------------
Column: taxid_ch1
0    "9606"
1    "9606"
2    "9606"
3    "9606"
4    "9606"
Name: taxid_ch1, dtype: object
--------------------------------------------------
Column: hyb_protocol
0    "standard Illumina protocol"
1    "standard Illumina protocol"
2    "standard Illumina protocol"
3    "standard Illumina protocol"
4    "standard Illumina protocol"
Name: hyb_protocol, dtype: object
--------------------------------------------------
Column: scan_protocol
0    "standard Illumina protocol"
1    "standard Illumina protocol"
2    "standard Illumina protocol"
3    "standard Illumina protocol"
4    "standard Illumina protocol"
Name: scan_protocol, dtype: object
--------------------------------------------------
Column: description
0          "Normal"
1    "Primay tumor"
2          "Normal"
3    "Primay tumor"
4          "Normal"
Name: description, dtype: object
--------------------------------------------------
Column: data_processing
0    "BeadStudio GX 3.2"
1    "BeadStudio GX 3.2"
2    "BeadStudio GX 3.2"
3    "BeadStudio GX 3.2"
4    "BeadStudio GX 3.2"
Name: data_processing, dtype: object
--------------------------------------------------
Column: platform_id
0    "GPL6104"
1    "GPL6104"
2    "GPL6104"
3    "GPL6104"
4    "GPL6104"
Name: platform_id, dtype: object
--------------------------------------------------
Column: contact_name
0    "qiang,,yu"
1    "qiang,,yu"
2    "qiang,,yu"
3    "qiang,,yu"
4    "qiang,,yu"
Name: contact_name, dtype: object
--------------------------------------------------
Column: contact_email
0    "yuq@gis.a-star.edu.sg"
1    "yuq@gis.a-star.edu.sg"
2    "yuq@gis.a-star.edu.sg"
3    "yuq@gis.a-star.edu.sg"
4    "yuq@gis.a-star.edu.sg"
Name: contact_email, dtype: object
--------------------------------------------------
Column: contact_institute
0    "GIS"
1    "GIS"
2    "GIS"
3    "GIS"
4    "GIS"
Name: contact_institute, dtype: object
--------------------------------------------------
Column: contact_address
0    "BIOPOLIS STREET"
1    "BIOPOLIS STREET"
2    "BIOPOLIS STREET"
3    "BIOPOLIS STREET"
4    "BIOPOLIS STREET"
Name: contact_address, dtype: object
--------------------------------------------------
Column: contact_city
0    "SINGAPORE"
1    "SINGAPORE"
2    "SINGAPORE"
3    "SINGAPORE"
4    "SINGAPORE"
Name: contact_city, dtype: object
--------------------------------------------------
Column: contact_zip/postal_code
0    "138672"
1    "138672"
2    "138672"
3    "138672"
4    "138672"
Name: contact_zip/postal_code, dtype: object
--------------------------------------------------
Column: contact_country
0    "Singapore"
1    "Singapore"
2    "Singapore"
3    "Singapore"
4    "Singapore"
Name: contact_country, dtype: object
--------------------------------------------------
Column: supplementary_file
0    "NONE"
1    "NONE"
2    "NONE"
3    "NONE"
4    "NONE"
Name: supplementary_file, dtype: object
--------------------------------------------------
Column: data_row_count
0    "22184"
1    "22184"
2    "22184"
3    "22184"
4    "22184"
Name: data_row_count, dtype: object
--------------------------------------------------

In [7]:
file_path = "GSE10950_series_matrix.txt"
data = pd.read_csv(file_path, sep="\t", comment="!", header=0)
print(data.head())

         ID_REF    GSM277495    GSM277496    GSM277497    GSM277498  \
0  ILMN_1343291  56190.14000  52176.93000  50483.09000  38690.04000
1  ILMN_1343292   1971.44300    606.77730   8916.93600   3148.33700
2  ILMN_1343293  16093.71000  18485.05000  10451.59000  23610.13000
3  ILMN_1343294  54993.97000  46674.46000  48284.97000  36091.75000
4  ILMN_1651209     40.00085     35.96349     31.27827     18.39922

    GSM277499    GSM277500    GSM277501    GSM277502    GSM277503  ...  \
0  54803.8400  52006.33000  45847.25000  66288.21000  48275.86000  ...
1   3906.8750   1553.54100   6240.80500    883.64130  11706.21000  ...
2  11740.4300  20074.07000   9185.63700  24564.12000   6891.89400  ...
3  62380.2300  56790.41000  44195.88000  82740.92000  50603.63000  ...
4     59.5614     38.47763     19.27786     37.25268     50.21552  ...

     GSM277533    GSM277534    GSM277535    GSM277536   GSM277537  \
0  38542.71000  37837.82000  43446.01000  36295.71000  46553.4100
1   6120.76800    934.44180   4432.62600    478.13510   4602.6820
2   8256.98100  15924.61000  11993.99000  19011.34000  11475.9600
3  37784.98000  36788.32000  42816.73000  32474.53000  45212.2000
4     24.60747     11.57533     26.18094     36.19663     25.2418

     GSM277538     GSM277539    GSM277540   GSM277541    GSM277542
0  44413.68000   21908.48000  59918.80000  43582.3200  55191.75000
1    929.27110    3352.19400    857.01080    750.6904   6049.86100
2  15174.88000    2004.74700  10197.33000  15732.3300  11330.64000
3  42259.02000  104338.80000  64718.43000  38275.2200  53299.56000
4     34.48675       5.74692     16.77745     41.0845     16.70877

[5 rows x 49 columns]

In [8]:
data

,ID_REF,GSM277495,GSM277496,GSM277497,GSM277498,GSM277499,GSM277500,GSM277501,GSM277502,GSM277503,...,GSM277533,GSM277534,GSM277535,GSM277536,GSM277537,GSM277538,GSM277539,GSM277540,GSM277541,GSM277542
0,ILMN_1343291,56190.14000,52176.93000,50483.09000,38690.04000,54803.8400,52006.33000,45847.25000,66288.21000,48275.86000,...,38542.71000,37837.82000,43446.01000,36295.71000,46553.41000,44413.68000,21908.48000,59918.80000,43582.3200,55191.75000
1,ILMN_1343292,1971.44300,606.77730,8916.93600,3148.33700,3906.8750,1553.54100,6240.80500,883.64130,11706.21000,...,6120.76800,934.44180,4432.62600,478.13510,4602.68200,929.27110,3352.19400,857.01080,750.6904,6049.86100
2,ILMN_1343293,16093.71000,18485.05000,10451.59000,23610.13000,11740.4300,20074.07000,9185.63700,24564.12000,6891.89400,...,8256.98100,15924.61000,11993.99000,19011.34000,11475.96000,15174.88000,2004.74700,10197.33000,15732.3300,11330.64000
3,ILMN_1343294,54993.97000,46674.46000,48284.97000,36091.75000,62380.2300,56790.41000,44195.88000,82740.92000,50603.63000,...,37784.98000,36788.32000,42816.73000,32474.53000,45212.20000,42259.02000,104338.80000,64718.43000,38275.2200,53299.56000
4,ILMN_1651209,40.00085,35.96349,31.27827,18.39922,59.5614,38.47763,19.27786,37.25268,50.21552,...,24.60747,11.57533,26.18094,36.19663,25.24180,34.48675,5.74692,16.77745,41.0845,16.70877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22179,ILMN_1815941,624.81980,89.04105,331.57000,222.88310,307.9792,390.26060,392.25600,379.53390,347.57590,...,294.54460,327.45860,601.65420,468.20080,318.85800,278.38450,114.17440,157.09760,196.1953,538.39070
22180,ILMN_1815951,200.03020,297.83480,160.62620,215.53760,167.7340,169.47090,230.42320,183.51790,197.30160,...,147.57860,193.14290,122.24310,219.01090,90.37858,78.66269,63.73695,131.59050,106.9983,63.10372
22181,ILMN_2038774,39215.89000,48556.75000,42814.16000,37049.47000,38649.6800,19928.72000,39478.76000,40934.46000,38290.77000,...,39027.22000,33073.90000,40642.45000,34316.60000,37879.88000,36913.20000,1953.13100,16631.74000,37650.9300,45204.30000
22182,ILMN_2038777,28558.14000,26478.78000,42527.69000,33330.46000,36737.0000,35074.84000,40078.56000,27459.34000,49031.66000,...,37830.59000,32456.80000,40664.33000,32025.89000,45112.67000,42326.20000,47726.81000,47230.55000,34606.5200,52081.71000
22183,ILMN_2038778,11303.50000,21009.94000,14241.25000,32106.39000,11845.2200,31232.45000,13788.28000,23013.48000,16026.82000,...,13474.02000,25495.70000,13480.30000,20453.02000,14488.74000,21796.38000,15838.01000,23303.29000,19681.5100,13598.16000

In [9]:
data.to_csv("GSE10950_gene_expression.csv", index=False)